    body {
        max-width: 100%;
        max-height: 100%;
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    }
    
    div .card-body {
        background-color: rgb(168, 171, 192);
    }
    
    div ._Tarjetas {
        margin: 15px;
    }
    
    div ._contenidoTarjeta {
        align-items: center;
        width: 100%;
    }
    
    .cuerpo {
        margin-bottom: 100vh;
    }
    
    a {
        color: white;
    }
    /*responsive para minimo 220px*/
    
    @media (min-width: 220px) {
        .top {
            text-align: center;
        }
        .txtBuscar,
        .btnBuscar {
            text-align: center;
            margin: 0 auto;
            align-items: center;
        }
        .sticky {
            text-align: center;
            list-style-type: none;
        }
        .footer {
            visibility: hidden;
        }
    }
    
    @media (min-width: 290px) {
        .txtBuscar,
        .btnBuscar {
            text-align: center;
            margin: 3 auto;
            align-items: center;
            max-width: 100%;
        }
    }
    /*responsive min 500px*/
    
    @media (min-width: 500px) {
        .sticky-container {
            padding: 0px;
            margin: 0px;
            position: fixed;
            right: -130px;
            top: 230px;
            width: 210px;
            z-index: 1100;
        }
        .sticky li {
            list-style-type: none;
            background-color: #fff;
            color: #efefef;
            height: 43px;
            border-radius: 5px 0px 0px 5px;
            border: 0.5px solid dodgerblue;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
        }
        .sticky li:hover {
            margin-left: -115px;
        }
        .sticky li img {
            float: left;
            margin: 5px 4px;
        }
        .sticky li p {
            padding-top: 5px;
            margin: 0px;
            line-height: 16px;
            font-size: 11px;
        }
        .sticky li p a {
            text-decoration: none;
            color: rgb(39, 49, 53);
        }
        .sticky li p a:hover {
            text-decoration: underline;
        }
        .footer {
            visibility: visible;
        }
        .footer,
        .footer .footIzquierda,
        .footer .footcentro,
        .footer .footderecha {
            display: none;
        }
        .footer a:hover {
            color: rgb(19, 19, 80);
        }
        .footer {
            display: block;
            position: relative;
            bottom: 0px;
            width: 100%;
            overflow: hidden;
        }
        .footer .footIzquierda {
            display: inline-block;
            width: 33.3%;
            float: left;
            margin-top: 15px;
            border-right: 2px solid white;
            text-align: left;
        }
        .footer .footcentro {
            display: inline-block;
            margin-top: 45px;
            width: 33.3%;
            float: left;
            text-align: center;
        }
        .footer .footderecha {
            display: inline-block;
            width: 33.3%;
            float: right;
            border-left: 2px solid white;
            text-align: center;
            margin-top: 15px;
        }
        .footer .footderecha ul {
            list-style-type: none;
        }
        .footer a {
            color: white;
        }
        .footer label {
            color: rgb(19, 19, 80);
        }
    }